{% assign collection = site.data.projects %}

{% assign new_collection = collection %}

<div class="border d-flex flex-column my-3 border-blue">
    {% for item in new_collection %}
    {% if item.status == "active" %}
    {% assign bgcolor = "color-bg-open" %}
    {% else %}
    {% assign bgcolor = "color-bg-done" %}
    {% endif %}
    <div class="p-2 pl-3 border {{ bgcolor }}">
        {% if item.img %}
        <div class="d-flex ml-2 flex-justify-center"><img alt="Logo {{ item.name }}" src="{{ item.img }}" height="62px"></div>
        {% endif %}
        <span class="f2-light text-gray-light">hidrokit/</span><span class="f2 text-bold">{{ item.name }}</span>
        <span class="text-small">{{ item.date_start | date: "%-d %B %Y" }}</span> -
        <span
            class="text-small">{% if item.date_end %}{{ item.date_end | date: "%-d %B %Y" }}{% else %}now{% endif %}</span>
        <br>
        <span>{{ item.description }}</span>
        <br>
        <div class="d-flex flex-wrap flex-justify-center">
            <a href="https://github.com/{{ item.github }}" role="button" class="btn m-1">Repository</a>
            {% if item.website == "#url" %}
            {% assign aria = "true" %}
            {% else %}
            {% assign aria = "false" %}
            {% endif %}
            <a href="{{ item.website }}" role="button" class="btn m-1 btn-outline" aria-disabled="{{ aria }}">Situs</a>
        </div>
    </div>
    {% endfor %}
</div>
